doctype html
html
	head
		title Allison McCann
		link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
		link(rel='shortcut icon', href='https://aws-website-allisontmccann-zqj1q.s3.amazonaws.com/favicon.png')
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		block head_end
	
	body
		block content
		
		script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(type="text/javascript" src="assets/js/script.js")
		block body_end