@import "includes/base";


body {
    font-family: Helvetica;
    color: #000;
    background-color: #ff4d4d;
}

#container {
	margin: 40px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 960px;

}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #000;
}

#bio {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 10px;

    p.bio {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        margin-top: 0px;

    }

    a {
    	text-decoration: underline;
    	font-weight: normal;
    }

    a:hover {
    	color: #ffcc00;
    }

    .options {
        display: flex;
        justify-content: space-between;
        font-size: 28px;

    }

}


#work {

	flex-wrap: wrap;
	display: flex;
	width: 100%;
	margin-top: 40px;

	.info {
		width: 88%;

		h1 {
			font-size: 70px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 10px;
		}
	}

	.social-btns {
	    float: right;
	    margin-top: 40px;
	}

	a.social {
	    width: 35px;
	    margin: 3px 6px 0px 0px;
	    border-bottom: none;

	    svg {
	        width: 40px;
	        height: 40px;

	        &:hover path {
	            fill: #ffcc00;
	        }
	    }

	    &:hover {
	        border-bottom: none;
	        cursor: pointer;
	    }

	}

}

.projects {

	flex-wrap: wrap;
	display: flex;
	width: 100%;
	margin: 0px 10px 0px 10px;


	.project {
		width: 168px;
		height: 168px;
		margin: 10px;
		padding: 10px;
		border: 3px solid #000;

		&:hover {
			border: 3px solid #ffcc00;
		}

	}
}






