header
	h1
		| Allison McCann

	#content
		.projects
			-var projects = utils.sortByDate(data);
			for project, i in projects
				a(href="#{project.url}" target="_blank")
					.project #{project.title}